#container
{
width:800px;
height:600px;
background-color:orange
}

#header
{
text-align:center;
Width:800px;
height:100px;
background-color:#555555;
}

#panel1
{
height:400px;
width:200px;
float:left;
background-color:#cccccc;
}

#panel2
{
height:400px;
width:200px;
float:right;
background-color:#cccccc;
}

#body
{
width:400px;
height:400px;
float:left;
background-color:#336699;
}


#footer
{
text-align:center;
Width:800px;
height:100px;
background-color:#555555;
float:left;
}
